.container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    background: var(--black);
    margin: 20px auto;
    border: 5px solid var(--);
    box-shadow:3px 3px tan, -1em 0 .4em olive;
    max-width: 1200px;
  }
  
  .map {
    background: var(--olive);
    width: 90%;
    max-width: 90%;
    padding: 5px;
  }
  
  .details {
    background: var(--black);
    width: 30%;
    padding: 10px;
    margin: 0 10px;
    border: 5px solid var(--olive);
    border-radius: 10px;
    box-shadow: 3px 3px tan, -1em 0 .4em olive;;
  }